<!-- <h1>Your Listing</h1>

<% if current_user == @listing.user %>
<%= link_to 'Edit', edit_listing_path(@listing) %> 
<%else%>
<%= link_to 'Book', new_booking_path %>
<%end%>


<% @current_listing.each do |listing| %>
<%= listing.name %>
<% end %>
 -->